form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30vw;
}

input, textarea {
  padding: 7px 10px;
  border-radius: 0;
  border: 1px solid purple;
}

button {
  padding: 7px 20px;
  background-color: purple;
  border: none;
  color: white;
  cursor: pointer;
}
